<div class="row" *ngIf="formation">
    <div class="col-md-3">
        <h3>{{formation.name}} 
            <button class="btn" (click)="intOrResetFormation(formation)">
                <i class="{{(formation.children && formation.children.length) ? 'fa fa-repeat' : 'fa fa-upload'}}" aria-hidden="true"></i>
            </button>
        </h3>
        <div *ngIf="formation.children && formation.children.length">
            <app-formation-menu [children]="formation.children"
            (nodeCheckedChange)="nodeCheckedChanged($event)"
            (nodeSelected)="nodeSelected($event)"></app-formation-menu>
        </div>
    </div>
    <div class="col-md-9">
        <h6>{{nodeName}}</h6>
        <ng-container *ngIf="selectedNodeData" [ngSwitch]="selectedNodeData.ext">
            <ng-container *ngSwitchCase="'.mp4'">
                <div *ngIf="videoUrl">
            
                    <video width="900" height="550" controls>
                        <source [src]="videoUrl" type="video/mp4">
                            Your browser does not support HTML video.
                        </video>
                </div>
            </ng-container>
            <ng-container *ngSwitchCase="'.html'">
                <div [innerHtml]="fileContent"></div>
            </ng-container>
        </ng-container>
        
		
    </div>
</div>